@charset "utf-8";

body {
    background-color: #ffffe0;
    }

    .kakoi{
        padding: 0.5em 1em;
        margin: 2em 0;
        font-weight: bold;
        border: solid 3px #000000;
        background-color: #e0ffff;
    }


