@charset "utf-8";


body {
    background-color: #e0ffff;
    }
    
    header{
      background-color: #00552e;
      height: 60x;
      padding-top: 15px;
      padding-bottom: 10px;
    }

       p{
        text-align: center;
        font-size: 40px;
        color: #ffffff;
    }
  
   img{
     width: 150px;
     height: auto;
     }
   
    .hyou {
        width: 100%;
        text-align: center;
        border-collapse: collapse;
        border-spacing: 0;
       }
         th {
        padding: 10px;
        border: solid 1px 
       }

         td {
        padding: 10px;
        border: solid 1px;
       }

