@charset "utf-8";


body {
    background-color: #e0ffff;
    }

    p{
      margin-top: 0;
      padding: 0;
      text-align: center;
      font-size: 50px;
      background-color: #00552e;
      color: #ffffff;
  }

  
   img{
     width: 150px;
     height: auto;
     }
   
    .hyou {
        width: 100%;
        text-align: center;
        border-collapse: collapse;
        border-spacing: 0;
       }
         th {
        padding: 10px;
        border: solid 1px 
       }

         td {
        padding: 10px;
        border: solid 1px;
       }

